body {
  font-family: Roboto;
  margin: 0;
}
    /* TODO: figure out how to make this more specific with class or id (div) */
    #container div:first-of-type {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
    nav {
      background-color: rgba(0,0,0,.1);
      border-right: 1px solid rgba(0,0,0,.2);
      height: 100vh;
      position: fixed;
      width: 150px;
    }
      nav ul {
        margin: 0;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        -webkit-padding-start: 0;
      }
        nav li {
          list-style: none;
        }
          nav li:first-of-type {
            background-color: rgba(140, 0, 0, 1);
          }
            nav li:first-of-type a {
              color: rgba(255,255,255,.87);
            }
          nav li:not(:first-of-type) {
            border-top: 1px solid rgba(0,0,0,.2);
          }
            nav li a {
              color: rgba(0,0,0,.87);
              cursor: pointer;
              display: block;
              padding: 24px;
              text-decoration: none;
            }
    main {
      background-color: rgba(200,200,200,.1);
      left: 150px;
      position: absolute;
      width: calc(100% - 150px);
    }
      main .hero-section {
        height: 100vh;
        width: 100%;
        text-align: center;
      }
        main .hero-section header {
          font-size: 48px;
          height: 100px;
        }
        main .hero-section .hero-content {
          font-size: 24px;
          height: calc(100% - 200px);
        }
        main .hero-section footer {
          height: 100px;
        }
          main .hero-section footer button { padding: 0; }
            main .hero-section footer button a {
              color: rgba(255,255,255,1);
              display: inline-block;
              padding: 24px;
              min-width: 150px;
            }
