<h2>GX App</h2>
{{#primary-nav}}{{/primary-nav}}
{{#link-to "index"}}HOME{{/link-to}}
{{#link-to "expeditions"}}EXPEDITIONS{{/link-to}}
{{#link-to "about"}}ABOUT{{/link-to}}
{{#link-to "donate"}}DONATE{{/link-to}}
{{#link-to "account"}}ACCOUNT{{/link-to}}
{{outlet}}
